body {
    background: #795548;
    color: wheat;
    font-size: 15pt;
    background: url('./img/dots_brown.gif');
}

h1, h2 {
    font-family: 'Comic Sans MS', sans-serif;
}

h1 {
    color: #ffc107;
    font-size: 48pt;
}

.header {
    text-align: center;
}

hr {
    border-color: chocolate;
    color: chocolate;
    border-width: 4px;
}

.slicing-gif {
    float: right;
}

.disclaimer {
    color: white;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}

.disclaimer img {
    height: 48px;
}

.bread-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bread-list li {
    line-height: 64px;
    min-height: 64px;
}

.bread-list li .toast {
    vertical-align: middle;
}

.bread-list li .ugly-gifs {
    height: 100px;
}

a {
    color: yellowgreen;
}

.blockchains {
    font-family: "Papyrus", fantasy;
}

h1 img, h2 img {
    vertical-align: middle;
    height: 64px;
}
